@keyframes moveInLeft {
  /* tao animation */
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translate(10px); }
  100% {
    opacity: 1;
    transform: translate(0, 0); } }

@keyframes moveInRight {
  /* tao animation */
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translate(-10px); }
  100% {
    opacity: 1;
    transform: translate(0, 0); } }

@keyframes moveInBot {
  /* tao animation */
  0% {
    opacity: 0;
    transform: translateY(-30px); }
  100% {
    opacity: 1;
    transform: translate(0, 0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777777;
  padding: 30px;
  box-sizing: border-box; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 60px;
  /*animation-name: moveInLeft;   tao animation 
    animation-duration: 2s;         /*thoi gian chay animation*/
  /*animation-iteration-count: 2;     so lan lap animation 
    animation-delay: 1s;              hoi gian bat dau chay animation 
    animation-timing-function: cubic-bezier()  khoang thoi gian chay trong animation */ }
  .heading-primary--main {
    display: block;
    font-size: 6.2rem;
    font-weight: 400;
    letter-spacing: 15px;
    animation: moveInLeft 1.5s; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 18px;
    animation: moveInRight 1.5s; }

.heading-secondary {
  font-size: 3,5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 2rem;
  cursor: pointer;
  background-image: linear-gradient(to right, #5a73fc, #1c3eff);
  color: transparent;
  -webkit-background-clip: text;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(-3deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.4); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.btn:link, .btn:visited {
  text-decoration: none;
  border-radius: 100px;
  text-transform: uppercase;
  padding: 15px 40px;
  display: inline-block;
  font-size: 1.6rem;
  position: relative;
  animation: moveInBot 1.5s; }

.btn--white {
  color: #777777;
  background-color: #fff; }
  .btn--white::after {
    background-color: #fff; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100px;
  z-index: -1;
  transition: all .4s; }

.btn-text {
  transition: all .2s; }
  .btn-text:link, .btn-text:visited {
    color: #8e9efc;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #8e9efc;
    padding: 1rem;
    font-size: 1.6rem; }
  .btn-text:hover {
    background-color: #8e9efc;
    color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translateY(-0.2rem); }
  .btn-text:active {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translateY(0); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(90, 115, 252, 0.3), rgba(28, 62, 255, 0.3)), url("../img/background.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: ellipse(100% 58% at 48% 31%); }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header__logo {
    height: 70px; }
  .header__logo-box {
    position: absolute;
    top: 30px;
    left: 30px; }

.row {
  max-width: 90rem;
  margin: 0 auto; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem)/2); }
  .row .col-1-of-3 {
    width: calc((100% - 2*6rem)/3); }
  .row .col-2-of-3 {
    width: calc(2*(100% - 2*6rem)/3 + 6rem); }
  .row .col-2-of-4 {
    width: calc(2*(100% - 3*6rem)/4 + 6rem); }
  .row .col-3-of-4 {
    width: calc(3*(100% - 3*6rem)/4 + 2*6rem); }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -25rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.composition {
  position: relative; }
  .composition__photo {
    width: 50%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: .2rem;
    position: absolute;
    z-index: 10;
    outline-offset: 1rem;
    transition: all .2s; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 2rem;
      top: 2rem; }
    .composition__photo--p3 {
      left: 15%;
      top: 10rem; }
    .composition__photo:hover .composition__photo__photo:not(:hover) {
      transform: scale(0.9); }
    .composition__photo:hover {
      outline: 1.5rem solid #8e9efc;
      transform: scale(1.1);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
